<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xd-12">
<img src="assets/image/p1.jpg" class="img-fluid img-responsive" alt="ph">
<h4 lass="my-2">Madeline</h4>
<p class="text-justify">Très simple et vraiment très rapide à faire ! Pour le goût c’est une réussite. Personnellement je conseille de tartiner de chocolat au fur et à mesure après avoir séparer les parts car elles auront tendance à rester coller et à se déformer..</p>
        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/image/p2.jpg" class="img-fluid img-responsive" alt="ph">
            <h4 lass="my-2">Madeline</h4>
<p class="text-justify">Très simple et vraiment très rapide à faire ! Pour le goût c’est une réussite. Personnellement je conseille de tartiner de chocolat au fur et à mesure après avoir séparer les parts car elles auront tendance à rester coller et à se déformer..</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xd-12">
                        <img src="assets/image/p4.jpg" class="img-fluid img-responsive" alt="ph">
                        <h4 lass="my-2">Douceurs orientales</h4>
<p class="text-justify">Très simple et vraiment très rapide à faire ! Pour le goût c’est une réussite. Personnellement je conseille de tartiner de chocolat au fur et à mesure après avoir séparer les parts car elles auront tendance à rester coller et à se déformer..</p>
                                </div>
                                <div class="col-lg-4 col-md-4 col-xd-12 mt-4">
                                    <img src="assets/image/p5.jpg" class="img-fluid img-responsive" alt="ph">
                                    <h4 lass="my-2">Croissant feuilleté au chocolat</h4>
<p class="text-justify">Très simple et vraiment très rapide à faire ! Pour le goût c’est une réussite. Personnellement je conseille de tartiner de chocolat au fur et à mesure après avoir séparer les parts car elles auront tendance à rester coller et à se déformer.</p>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-xd-12 mt-4">
                                                <img src="assets/image/p6.jpg" class="img-fluid img-responsive" alt="ph">
                                                <h4 lass="my-2">Bagels</h4>
<p class="text-justify">Très simple et vraiment très rapide à faire ! Pour le goût c’est une réussite. Personnellement je conseille de tartiner de chocolat au fur et à mesure après avoir séparer les parts car elles auront tendance à rester coller et à se déformer.</p>
                                                        </div>
                                                       
    </div>
</div>
