
<div class="container pt-1 ">
   <a routerLink="/"> <button type="button" class="btn">Show all</button></a>
    <a routerLink="/patisserie"><button type="button" class="btn">Patisserie</button></a>
    <a routerLink="/cuisine"><button type="button" class="btn">Cuisine</button></a>
   <a routerLink="/salade"> <button type="button" class="btn">Salade</button></a>
    

    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      
        <div class="btn-group" role="group">
          <button type= "button" class="btn  dropdown-toggle" data-toggle="dropdown">Contact <span class="caret"></span>
           
          </button>
          <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <li><a class="dropdown-item" routerLink="/registrer">Register</a></li>
            <li><a class="dropdown-item" routerLink="/login">Login</a></li>
          </ul>
        </div>
      </div>
<div>
