<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-xd-12">
<img src="assets/image/c3.jpg" class="img-fluid img-responsive" alt="ph">
<h4 lass="my-2">Plat chinois de poulet effiloché</h4>
<p class="text-justify">Traditionnellement, le poulet « bang-bang » est servi en apéritif, en attendant que les autres plats arrivent sur la table. Il s’agit de poulet effiloché présenté sur un lit de concombre coupé en julienne et servi avec une sauce épicée. Sa fraîcheur sera très appréciée en été.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/image/c4.jpg" class="img-fluid img-responsive" alt="ph">
            <h4 lass="my-2">Poitrine de porc frite</h4>
<p class="text-justify">La poitrine de porc croustillante frite est l'un des plats que je ne peux pas arrêter de manger dès la première bouchée. Un plat à servir avec du riz gluant chaud et une bière fraîche. C'est facile à et vous obtiendrez un snack addictif à partager. Voici la recette.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xd-12">
                        <img src="assets/image/c5.jpg" class="img-fluid img-responsive" alt="ph">
                        <h4 lass="my-2">Boîtes de pépites</h4>
            <p class="text-justify">Ces quiches au poulet et crevettes sont simples et savoureuses à réaliser. Elles sont idéales pour un apéro dinatoire ou un repas léger avec une salade. Des quiches terre et mer très appréciées pendant le mois du ramadan lors du ftour.</p>
                                </div>
                    
    </div>
</div>
